@charset "UTF-8";

section#privacidade {
    width: 1000px;
    margin: auto;
}

iframe#frame-privac {
    width: 400px;
    height: 300px;
    border: none;
    overflow: hidden;
}

iframe#frame-privac::-webkit-scrollbar {
    display: none;
}